.header
{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}
.header a
{
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
}
.header a:hover
{
    color: orangered;
    transition: 0.3s;
}